@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 16px;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* shared */

.hide-on-comp{
    display: none;
}

.medi-twen-font{
    font-size: 2rem;
    font-weight: 400;
}

.btn-primary{
    background-color: orange;
    color: white;
    padding: 20px 25px;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 1.2rem;
    width: 255px;
}

/* navbar styles */
.logo-school{
    display: flex;
}

.home-about{
    display: flex;
    gap: 0 3rem;
    max-width: 460px;
}

.home-about:hover{
    cursor: pointer;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1380px;
    margin: 0 auto;
}



.bag{
    width: 68px;
    height: 68px;
    margin-top: 27px;
}
.nav-scl{
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 12px;
}

.nav-home{
    color: orange;
}

.nav-about{
    color: rgb(111, 201, 237);
}

.nav-faci{
    color: #05D4DF;
}

.nav-add{
    color: #5D58EF;
}


/* banner styles */

/* .banner{
    background-image: url('./bg.png');
} */

.banner-container{
    display: flex;
    gap: 60px;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1380px;
}

.banner-title{
    line-height: 4.2rem;
}
.banner-des{
    font-size: 1.25rem;
    color: black;
    margin-top: -15px;
}

.hero-text{
    /* margin: auto 0; */
    max-width: 760px;
    margin: auto 0;
}

.hero-img{
    max-width:100%;
    max-height: auto;
}

.hero-img img{
    width: 558px;
    height: 684px;
}

.enroll-btn{
    background-color: black;
}

#empowering{
    font-size: 4.3rem;
    color: orange;
    font-weight: 700;
}
#students{
    color: black;
    font-weight: 700;
    font-size: 4.3rem;
}
#vision{
    color: #01ACFD;
    font-weight: 700;
    font-size: 4.3rem;
}



/* Curriculam related styles */

.curriculam{
    background-image: url('./bg-plusss.png');
}

.curri-cards{
    max-width: 1380px;
    margin: 0 auto;
}

.curri-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 85px;
}

.curri-cards{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.card1, .card2, .card3{
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    border-radius: 1.25rem;
    width: 437px;
    height: 566px;
    background: linear-gradient(to bottom, rgb(209, 232, 243), rgb(255, 255, 255));
    /* box-shadow: inset offset-x offset-y blur-radius spread-radius color; */
    box-shadow: inset 0 0 28.3px .94px rgba(0, 0, 0, 0.075);

}

.card1{
    background: linear-gradient(to bottom, rgb(216, 243, 255), rgb(255, 255, 255));
    margin-bottom: 100px;
}

.card2{
    background: linear-gradient(to bottom, rgb(250, 245, 233), rgb(255, 255, 255));
    margin-bottom: 100px;
}

.card3{
    background: linear-gradient(to bottom, #f9f5ff, rgb(255, 255, 255));
    margin-bottom: 100px;
}

.card-img{
    margin-top: 63px;
}

.card-title{
    margin: 38px auto;
    font-size: 2rem;
    font-weight: 700;
}

.card-descrip{
    color: #808080;
    margin: 0 50px;
    line-height: 34px;
    font-weight: 500;
}

.read-more{
    margin-top: 40px;
    margin-bottom: 63px;
}

.read-more:hover{
    cursor: pointer;
}

.rm1{
    color: #64C8FF;
    font-size: 1.2rem;
    font-weight: 700;
}

.rm2{
    color: #F0AA00;
    font-size: 1.2rem;
    font-weight: 700;
}

.rm3{
    color: #8700FF;
    font-size: 1.2rem;
    font-weight: 700;
}


.circle-container{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-top: -30px;
}

/* arrow hovering */

.circle-container img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.circle-container img:hover {
    transform: scale(1.1);
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Grid section ////////////////////////////////////////////////////////////*/
.stories-title{
    font-weight: 700;
    font-size: 60px;
}

.grid{
    background-image:     linear-gradient(to bottom, rgba(245, 255, 255, 0.02), rgba(254, 163, 1, 0.2)),
    url(./bg-plusss.png);

}

.stories-title{
    text-align: center;
}

.c-title{
    font-weight: 700;
    font-size: 28px;
    margin-left: 45px;
    margin-top: 20px;
    line-height: 40px;
}

.c-para{
    font-size: 16px;
    margin-left: 45px;
    margin-right: 80px;
    margin-top: -19px;
    line-height: 30px;
}

.grid-container{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
}

.big-box{
    background-color: white;
    width: 642px;
    height: 748px;
    border-radius: 16px;
}

.img-one{
    width: 100%;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.date{
    background-color: #3CD8E8;
    color: white;
    font-size: 17px;
    font-weight: 500;
    max-width: 207px;
    width: 100%;
    height: 56px;
    align-content: center;
    border-radius: 50px;
}

.date-sml{
    background-color: #95B226;
    color: white;
    font-size: 17px;
    font-weight: 500;
    max-width: 207px;
    width: 100%;
    height: 45px;
    align-content: center;
    border-radius: 50px;
}

.date-sml2{
    background-color: #5D58F0;
}

.date-div{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: -62px;
    margin-left: 40px;
    z-index: 1;
}

.date-sml-div{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: -55px;
    margin-left: 40px;
    z-index: 1;
}

.sml-title{
    font-weight: 700;
    font-size: 20px;
    margin-left: 44px ;
    margin-right: 16px;
    margin-top: 1px;
}

.four-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.box{
    background-color: white;
    border-radius: 16px;
    max-width: 345px;
    max-height: 358px;
    width: 100%;
    height: 100%;
}

.view-btn{
    margin-top: 99px;
    margin-bottom: 60px;
    background-color: black;
}

.btn3-div{
    text-align: center;
}


/* footer section */
.foot-container{
    background-color: #01ACFD;
    max-width: 1708px;
    width: 100%;
    height: 618px;
    margin: 0 auto;
}

.foot-container{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bag-kEdu{
    display: flex;
    align-items: center;
}

.f-para{
    width: 375px;
}


/* Footer */

.foot-container{
    color: white;
}

.foot-lg{
    max-width: 95px;
    width: 100%;
    max-height: 95px;
    height: 100%;
    margin-top: 4px;
}

.foot-title1{
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 14px;
}

.foot-title2{
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: -7px;
}

.foot-para{
    font-size: 1.1rem;
    max-width: 470px;
    width: 100%;
    margin-left: 7px;
    font-weight: 400;
    line-height: 1.7rem;
}

.foot-middle{
    margin-top: 30px;
    /* margin-right: 200px; */
}

.about-school{
    font-weight: 600;
    font-size: 1.35rem;
}

.about-item{
    font-size: 1.1rem;
    font-weight: 400;
}

.about-item:hover{
    cursor: pointer;
}

.foot-right{
    margin-top: -80px;
}

.keep-touch{
    font-size: 1.5rem;
    font-weight: 700;
}

.foot-img-icon{
    margin-right: 8px;
}


.marquee {
    overflow: hidden;
    width: 300px; /* Adjust width as needed */
    height: 48px; /* Adjust height as needed */
    text-align: center;
    font-size: 1.3rem;
    color: #ffb508;
    font-weight: 700;
    animation: scroll 4s linear infinite; /* Adjust speed as needed */
}

@keyframes scroll {
    10% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

/* Responsive styles for mobile device////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width:576px) {

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

    .hide-on-mobile{
        display: none;
    }

    .nav-container{
        width: 100%;
    }

    .nav-border{
        border: 1px solid orange;
        height: 70px;
        width: 101%;
        border-left-width: 0px;
        border-top: 0;
    }
    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    .nav-container{
        margin-top: -10px;
    }
    
    .bag{
        height: 48px;
        width: 48px;
        margin-top: 10px;
    }
    .hero-img{
    width: calc(100% - 50px);
    align-self: center;
    }

    .banner-title{
        font-size: 32px;
        margin-top: -25px;
    }

    #empowering, #students, #vision{
        font-size: 2rem;
        font-weight: 700;
    }
    
    .banner-title{
        line-height: 2.5rem;
    }
    .banner-des{
        font-size: 1rem;
        color: black;
        margin-top: -1px;
    }

    .btn-primary{
    background-color: black;
    color: white;
    padding: 12px 28px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: .5rem;
    width: 140px;
    margin-top: 10px;
    margin-bottom: 70px;
    }

    .hero-text{
        margin: 0 auto;
        width: calc(100% - 50px);
    }


    .hamburger{
        display: block;
        margin-top: 10px;
        margin-right: 15px;
    }


    .curri-cards{
        flex-direction: column;
        gap: 1px;
        justify-content: center;
        align-items: center;
        margin-left: 1.2rem;
        margin-right: 0;
    }
    

    .card1, .card2, .card3{
        /* margin: 0 auto;
        margin-left: 0; */
        width: 95%;
        height: 450px;
        /* height: 50%; */

    }

    .curri-title{
        text-align: center;
        font-size: 2em;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 39px;
    }

    .card-img{
        margin-top: 48px;
        width: 105px;
        height: 105px;
    }
    
    .card-title{
        margin: 27px auto;
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .card-descrip{
        color: #808080;
        margin: 0 50px;
        font-size: .9rem;
        line-height: 20px;
        font-weight: 500;
    }
    
    .read-more{
        margin-top: 40px;
        margin-bottom: 63px;
    }

    /* story section */
    .stories-title{
        text-align: center;
    }

    .four-box{
        gap: 10px;
        margin-left: 15px;
        margin-right: 15px;
    }

    /* .box{
        width: 90%;
        justify-content: space-around;
        align-items: center;
    } */

    .date-sml{
        color: white;
        font-size: .7rem;
        font-weight: 500;
        max-width: 207px;
        width: 80%;
        height: 45px;
        align-content: center;
        border-radius: 50px;
    }

    .date-sml-div{
        display: flex;
        text-align: center;
        align-items: center;
        margin-top: -50px;
        margin-left: 20px;
        z-index: 1;
    }

    .sml-title{
        font-size: .8rem;
        margin-left: 20px;
    }

    .stories-title{
        margin-top: -14px;
        margin-bottom: 35px;
        font-size: 33px;
    }

    .view-btn{
        margin-top: 35px;
        border-radius: .8rem;
        
    }

    /* foot section */
    .foot-container{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly
    }

    justify-content: ;

    .foot-left{
        margin-left: 200px;
        margin-top: -1000px;
    }

    .foot-middle{
        margin-left: 20px;
        margin-top: -75px;
    }
    .foot-right{
        margin-left: 20px;
        margin-bottom: -25px;
    }

    .foot-para{
        width: 90%;
        margin-left: 20px;
        margin-top: 9px;
    }

    .bag-kEdu{
        margin-left: 11px;
    }

    .marquee{
        margin-top: -50px;
        margin-bottom: 40px;
    }
}