@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 16px;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* shared */

.medi-twen-font{
    font-size: 2rem;
    font-weight: 400;
}

.btn-primary{
    background-color: orange;
    color: white;
    padding: 20px 25px;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 1.2rem;
    width: 255px;
}

/* navbar styles */
.logo-school{
    display: flex;
}

.home-about{
    display: flex;
    gap: 0 3rem;
    max-width: 460px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1380px;
    margin: 0 auto;
}

.bag{
    width: 68px;
    height: 68px;
    margin-top: 27px;
}
.nav-scl{
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 12px;
}

.nav-home{
    color: orange;
}

.nav-about{
    color: rgb(111, 201, 237);
}

.nav-faci{
    color: #05D4DF;
}

.nav-add{
    color: #5D58EF;
}

/* banner styles */

/* .banner{
    background-image: url('./bg.png');
} */

.banner-container{
    display: flex;
    gap: 60px;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1380px;
}

.banner-title{
    line-height: 4.2rem;
}
.banner-des{
    font-size: 1.5rem;
    color: black;
    margin-top: -15px;
}

.hero-text{
    /* margin: auto 0; */
    max-width: 760px;
    margin: auto 0;
}

.hero-img{
    max-width:100%;
    max-height: auto;
}

.hero-img img{
    width: 558px;
    height: 684px;
}

.enroll-btn{
    background-color: black;
}

#empowering{
    color: orange;
    font-weight: 700;
    font-size: 4.3rem;
}
#students{
    color: black;
    font-weight: 700;
    font-size: 4.3rem;
}
#vision{
    color: #01ACFD;
    font-weight: 700;
    font-size: 4.3rem;
}



/* Curriculam related styles */

.curriculam{
    background-image: url('./bg.png');
}

.curri-title{
    text-align: center;
}